.container {
    display: flex;
    justify-content: center;
}

.cart {
    box-shadow: 0 4px 8px rgba(13, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    border-radius: 5%;
    background-color: white;
    padding: 10px;
}

.imageside {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.image {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border-radius: 1rem;
}

.contantside {
    flex: 1;
    height: auto;
    border-radius: 0 5% 5% 0;
    display: flex;
    flex-direction: column; 
}

.head {
    width: 90%;
    padding: 10px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 2rem;
}

.head > i {
    font-size: x-large;
}

.save {
    padding: 10px 15px;
    background-color: rgb(253, 0, 0);
    color: aliceblue;
    border-radius: 10%;
    margin-left: auto; 
    margin-right: 10px;
    font-weight: bold; 
}

.save:hover {
    background-color: rgb(200, 0, 0); 
    box-shadow: 0 6px 12px rgba(219, 141, 141, 0.6); 
    cursor: pointer; 
}

.username {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    color: black;
}

.username > div {
    margin: 1rem;
}

.follow {
    margin: 1rem;
    padding: 10px 25px; 
    background-color: #fafbfc; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    font-weight: bold; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    outline: none; 
    text-align: center;
}

.follow:hover {
    background-color: #e7eaee; 
    box-shadow: 0 4px 8px rgba(156, 153, 153, 0.2); 
}

.title {
    width: 80%;
  
    font-size: large;
    text-align: center;
    letter-spacing: 1px;
}


