

.container {
    display: flex;
   flex-wrap: wrap;
    margin: 0%;
    padding: 20px;
}

.loading {
    font-size: 1.2em;
    color: #007bff;
}

.error {
    font-size: 1.2em;
    color: #dc3545;
}



.pin {
    width: 20rem;
    height: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin:auto;
    
    transition: transform 0.2s;
    
}

.pin:hover {
    transform: scale(1.05);
}

.pinImage {
    width: 100%;
    height: auto;
    display: block;
}

.profileInfo {
    display: flex;
    align-items: center;
    
    padding: 10px;
}

.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.pinTitle {
    font-size: 1em;
    color: #333;
}

.noPins {
    font-size: 1.2em;
    color: #6c757d;
}
.userName {
    letter-spacing: 1px;
     margin-left: 1rem;
    font-family:monospace;
     text-transform: lowercase;
 }