.container {
    display: flex;
    justify-content: center;
}

.cart {
   width: auto;
    box-shadow: 0 4px 8px rgba(13, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    background-color: white;
    padding: 10px;
}

.imageside {
    flex: 1;
    
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    transition: transform 0.3s ease;
}

.contant {
    flex: 1;
    height: 100vh;
    border-radius: 0 5% 5% 0;
    display: flex;
    flex-direction: column; 
}

.head {
    width: 90%;
    padding: 10px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 2rem;
}

.head > i {
    font-size: x-large;
}

.save {
    padding: 10px 15px;
    background-color: rgb(253, 0, 0);
    color: aliceblue;
    border-radius: 10%;
    margin-left: auto; 
    margin-right: 10px;
    font-weight: bold; 
}

.save:hover {
    background-color: rgb(200, 0, 0); 
    box-shadow: 0 6px 12px rgba(219, 141, 141, 0.6); 
    cursor: pointer; 
}

.username {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    color: black;
}

.username > div {
    margin: 1rem;
}

.follow {
    margin: 1rem;
    padding: 10px 25px; 
    background-color: #fafbfc; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    font-weight: bold; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    outline: none; 
    text-align: center;
}

.follow:hover {
    background-color: #e7eaee; 
    box-shadow: 0 4px 8px rgba(156, 153, 153, 0.2); 
}

.title {
    width: 80%;
    
    font-size: large;
    text-align: center;
    letter-spacing: 1px;
}

.comment {
    width: 100%;
    height: 100vh;
    overflow: scroll;
}

.commentContainer {
    display: flex;
    align-items: center;
    width: 80%;
    height: auto;
    border: 2px solid #a7a4a4; 
    margin: 1rem;
    border-radius: 3rem;
}

.commentTextarea {
    margin-left: 1rem;
    width: 70%;
    height: 30px;
    border: none;
}

.commentTextarea:focus,
.commentButton:focus {
    outline: none; 
}

.commentButton {
    padding: 8px 7px;
    margin-left: auto;
    margin-right: 1rem;
    border: none;
    cursor: pointer;
}

.commentButton:hover {
    background-color: rgb(46, 45, 45);
    border-radius: 3rem;
    color: #e7eaee;
}
.commentItem{
    margin: 1rem;
}
.commentuser{
    display: flex;
   
}
.commmentimage>img{
    width:50px;
    border-radius: 50%;
}
.userdetails{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap:1px;
}
.userdetails>div:nth-child(1){
    text-transform: capitalize;
}
.userdetails>div:nth-child(2){
    width: auto;
    padding: 10px;
    
}
.userdetails>div:nth-child(3){
    width: 100%;
    display: flex;
    align-items: center;
   
    color: #a7a4a4;
}
.emtypage{
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:7rem;
    color:#a7a4a4;
   
}